*.in
*.out
*.o
*.hi
tmp/
utils/
dist-newstyle
CHANGELOG.md
Setup.hs
day03/bin
day03/obj
.nrepl-port
leanpkg.toml
day13.c
*.glob
*.vo
*.vos
*.vok
*.aux
day18.ml*
_build/
*.native
zig-cache
*.class
*.tasty
